[default]
remote user = ansible
host_key checking = false
inventory = /etc/ansible/hosts
interpreter_python = auto_silent
ansible_python_interpreter=/usr/bin/python3

[privilege_escalation]

become = True
become_method = sudo
become_user = root
become_ask_pass = False
sudo-user = root
